---
import EffectLogoBlack from "@/assets/logos/effect/combination-mark/svg/effect-logo-black.svg"
import EffectLogoWhite from "@/assets/logos/effect/combination-mark/svg/effect-logo-white.svg"

interface Props {
  readonly href?: `/${string}`
}

const { href = "/" } = Astro.props
---

<a href={href} class="flex items-center" aria-label="Effect homepage">
  <img
    src={EffectLogoBlack.src}
    alt="Effect Logo"
    class="h-7 w-auto dark:hidden"
    width={EffectLogoBlack.width}
    height={EffectLogoBlack.height}
  />
  <img
    src={EffectLogoWhite.src}
    alt=""
    aria-hidden="true"
    class="hidden h-7 w-auto dark:block"
    width={EffectLogoWhite.width}
    height={EffectLogoWhite.height}
  />
</a>
